/* Global Rule's */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Almarai', sans-serif;
  direction: rtl;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  box-shadow: 0px 0px 30px 30px var(--main-color);
}

:root {
  --main-color: #aaf683;
  --transtaion: 0.3s;
  --prem-color: #348aa7;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* End Global Rule's */

/* Start app */
.app {
  background-image: url(../image/main-image/13.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000006b;
  z-index: -1;
}

.app .top {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  direction: ltr;
}

.app .top .container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.app .top i {
  font-size: 16px;
  color: #FFF;
}

.app .top span {
  font-size: 14px;
  color: #FFF;
  letter-spacing: 1px;
}

.header-area {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  position: relative;
}

.header-area .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-area .container a.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-area .container a img {
  width: 50px;
}

.header-area .container a span {
  width: 70%;
  display: block;
  line-height: 1.7;
  color: #FFF;
  font-size: 18px;
}

@media(max-width:993px) {
  .header-area .container a span {
    font-size: 16px;
  }
}

.header-area .mylinks {
  display: flex;
  gap: 15px;
}

@media(max-width:993px) {
  .header-area .mylinks {
    position: absolute;
    left: 50%;
    top: 100%;
    flex-direction: column;
    width: 80%;
    text-align: center;
    transform: translateX(-50%);
    background-color: #000000b3;
    padding: 20px;
    border-radius: 4px;
    border-bottom: 2px solid var(--main-color);
    z-index: 10;
    transform: scale(0);
    transition: .5s;
  }
}

.header-area .mylinks.show {
  transform: scale(1) translateX(-50%);
}

@media(min-width:993px) {
  .toggle {
    display: none;
  }
}

.toggle {
  font-size: 27px;
  padding: 11px 15px;
  border: 1px solid #CCC;
  border-radius: 4px;
  color: #ffffffd4;
  cursor: pointer;
}


.header-area .mylinks li a {
  position: relative;
  color: #FFF;
  font-size: 15px;
  font-weight: 400;
  transition: var(--transtaion);
}

.header-area .mylinks li a.active,
.header-area .mylinks li a:hover {
  color: var(--main-color);
}

.header-area .mylinks li a::before {
  content: "";
  position: absolute;
  bottom: -27px;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #FFF;
  transform: translateX(-50%) rotate(45deg);
  display: none;
}

.header-area .mylinks li a:hover::before {
  display: block;
}

.social {
  display: flex;
  gap: 10px;
}

@media(max-width:993px) {
  .social {
    display: none;
  }
}

.social i {
  color: #FFF;
  font-size: 15px;
  transition: var(--transtaion);
  cursor: pointer;
}

.social i:hover {
  transform: translateY(-5px);
  color: var(--main-color);
}

.app .text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.app .text span {
  color: #f2f2f2;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
}

.app .text h1 {
  font-size: 60px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 15px;
}

.app .text p {
  color: #FFF;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 0;
  line-height: 1.8;
}

.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

@media(max-width:993px) {
  .arrows {
    display: none;
  }
}

.arrows .fa-angle-left {
  position: relative;
  left: 15px;
  font-size: 25px;
  color: #FFF;
  cursor: pointer;
}

.arrows .fa-angle-right {
  position: relative;
  right: 15px;
  font-size: 25px;
  color: #FFF;
  cursor: pointer;
}

.content-box {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -50px;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  justify-content: space-between;
}

@media(max-width:993px) {
  .content-box {
    flex-direction: column;
    bottom: -100%;
    gap: 20px;
  }
}

.content-box .box {
  box-shadow: 0 0 25px 0 rgba(29, 25, 0, 0.25);
  flex-basis: 30%;
  background-color: #FFF;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--transtaion);
}

.content-box .box:hover {
  transform: translateY(-10px);
}

.content-box .box .icon {
  width: 80px;
  border-radius: 50%;
  height: 80px;
  margin: auto;
  box-shadow: 0 0 25px 0 rgba(29, 25, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  top: -8px;
  position: relative;
}

.content-box .box i {
  color: var(--prem-color);
}

.content-box .box .box-text h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  transition: var(--transtaion);
}

.content-box .box:hover .box-text h4 {
  color: var(--prem-color);
}

.content-box .box .box-text p {
  line-height: 1.8;
  margin: 0;
  color: #333333ad;
  font-size: 17px;
}

/* End App */

/* Start about */
.about {
  padding-top: 120px;
}

@media(max-width:993px) {
  .about {
    padding-top: 195%;
  }
}

.main-title {
  margin-bottom: 60px;
}

@media(max-width:993px) {
  .main-title {
    text-align: center;
  }
}

.about .main-title h2 {
  position: relative;
  font-size: 22px;
  margin-bottom: 10px;
  width: fit-content;
}

@media(max-width:993px) {
  .about .main-title h2 {
    margin: 5px auto;
  }
}


.about .main-title h2 span {
  font-weight: bold;
}

.about .main-title h2::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  right: -10px;
  background-color: var(--main-color);
}

.main-title p {
  color: #0f192d;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.about-content .box {
  flex-basis: 30%;
  text-align: center;
  box-shadow: 0 0 25px 0 rgba(29, 25, 0, 0.25);
  padding: 20px;
  border-radius: 4px;
  transition: var(--transtaion);
}

@media(max-width:993px) {
  .about-content .box {
    flex-basis: 100%;
  }
}

.about-content .box:hover {
  transform: translateY(-10px);
}

.about-content .box .text h4 {
  font-size: 20px;
  margin-bottom: 10px;
  transition: var(--prem-color);
}

.about-content .box:hover .text h4 {
  color: var(--prem-color);
}

.about-content .box .text p {
  margin-bottom: 10px;
  font-size: 13px;
}

.about-content .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-content .info .content {
  flex-basis: 50%;
}

.about-content .info .content:nth-child(2) {
  border-right: 1px solid #CCC;
}

.about-content .info span {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.about-content .info span.money {
  color: #777;
}

.about-content .info span.edit {
  position: relative;
  width: fit-content;
  margin: 5px auto;
}

.about-content .info span.edit::before {
  content: "ج.م";
  position: absolute;
  left: -23px;
}

.about-content .info span.num {
  font-weight: bold;
  font-size: 17px;
}

/* End about */

/* start footer */
.footer {
  margin-top: 30px;
  padding: 20px;
  background-color: #121921;
  text-align: center;
  color: #FFF;
  direction: ltr;
  letter-spacing: 1px;
  font-size: 15px;
  text-transform: capitalize;
}

/* end footer */